/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

/* 
//  ┬  ┬┌─┐┬─┐┬┌─┐┌┐ ┬  ┌─┐┌─┐
//  ┐┌┘├─┤├┬┘│├─┤├┴┐│  ├┤ └─┐
//  ┘ ┴ ┴┴└─┴┴ ┴└─┘┴─┘└─┘└─┘ 
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap'); /* Font Import */

:root {
  /* Font Size */
  --fg-primary: 12vh; /* Time and Greetings */
  --fg-secondary: 3vh; /* Greetings and Weather widger */
  --fg-date: 8vh; /* Date */
  --fg-list: 2vh; /* Links List */
  --icon: 3vh; /* Icon Size */

  /* Fonts Color */
  --fg: #3a3a3a; /* Foreground color */
  --sfg: #494949; /* Sceondary Foreground color */

  /* Light Colors  */
  --accent: #ffc2d0; /* Hover color */
  --background: #05080a; /* Background color */
  --cards: #0A0D0F; /* Cards color */

  /* Image background  */
  --imgbg: url(assets/background.jpg); /* Image URL */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */
  --accent: #ffc2d0; /* Hover color */
  --background: #05080a; /* Background color */
  --cards: #0A0D0F; /* Cards color */

  /* Fonts Color */
  --fg: #FFFCFF; /* Foreground color */
  --sfg: #2c292e; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}

/* 
//  ┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐
//  └─┐ │ └┬┘│  ├┤ └─┐
//  └─┘ ┴  ┴ ┴─┘└─┘└─┘ 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
